// Place all the styles related to the Ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 
 .ideaBody {
 	font-size: 11px;
	line-height: 15px;
	word-spacing: 0px;
 } 
 .ideaAuthor {
 	font-color: grey;
 	font-size: 11px;
	line-height: 15px;
	word-spacing: 0px;
 }